
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

 body{
  height: 100%;
  background-color: #c8d3d5;
  background-image:  linear-gradient(#eaeaeaff 2px, transparent 2px), linear-gradient(to right, #eaeaeaff 2px, #d2e1d0 2px);
  background-size: 20px 20px;
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
}


.mainApp {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 auto;
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;


  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;

  display: block;
  position: relative;
  padding: 40px 60px;

  transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0);

}
.giraffe{
  position: absolute;
  left: -90px;
  bottom: 50%;
  width: 20%;
  transform: rotate(45deg);
}

